.spork {
    position: relative;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    li {
        flex: 0 0 auto;
        margin: 0 .5em;
        display: flex;
        flex-direction: row;
        align-items: center;
        transition: .2s;
        > div {
            margin: .5em;
            position: relative;
            flex: 0 0 auto;
        }
    }
    .node {
        position: relative;
        z-index: 2;
        padding: 2em;
        background: skyblue;
		border: 2px solid;
        border-radius: 100%;
        transition: .2s;
        cursor: default;
    }
    .node-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }
    .node-line {
        position: absolute;
        z-index: 1;
        padding: .2em;
        background: currentColor;
        top: 50%;
        right: 50%;
        transform-origin: right center;
        // transition: .2s ease-out;
        pointer-events: none;
    }
}

// playground
.spork {
    ul {
        margin: .5em;
        li {
            margin: .5em;
            border-radius: .3em;
            li {
    			font-size: .85em;
    		}
            &:hover {
                > div {
                    .node,
                    .node + .node-line {
                        background: mix(#fff, yellowGreen, 5%);
                    }
                    .node {
                        z-index: 3;
                        transform: scale(1.2);
    					border-color: #fff;
    					&:hover {
    						transform: scale(2) !important;
    						box-shadow: 0 0 0 .3em fade-out(yellowGreen, .7);
    					}
                        + .node-line {
                            padding: .4em;
                        }
                    }
                }
            }
        }
    }
}
