.spork {
    position: relative;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    li {
        flex: 0 0 auto;
        margin: 0 .5em;
        display: flex;
        flex-direction: row;
        align-items: center;
        > div {
            margin: .5em;
            position: relative;
            flex: 0 0 auto;
        }
    }
    .node {
        position: relative;
        z-index: 2;
        padding: 2em;
        background: skyblue;
        border-radius: 100%;
    }
    .label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .line {
        position: absolute;
        z-index: 1;
        height: .2em;
        background: currentColor;
        top: 50%;
        right: 50%;
        transform-origin: right center;
    }
}
