.canvas {
    display: flex;
    flex-direction: row;
}

menu {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    white-space: nowrap;
    z-index: 5;
    background: snow;
    border: 2px solid;
    margin: 0;
    padding: 0 .5em;
    list-style: none;
    transition: .3s;
    border-radius: .5em;
    transform: translate(.5em, -2em);
    box-shadow: 0 .75em 2em -.75em;
    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 1.35em;
        right: 100%;
        border: 0px solid transparent;
        border-width: .65em .5em .65em 0;
    }
    &::before {
        border-right-color: inherit;
        transform: translate(-2px, 0);
        // border-width: 0 .7em .85em 0;
    }
    &::after {
        border-right-color: snow;
    }
    li {
        padding: .5em;
        + li {
            border-top: 1px solid;
        }
    }
    .spork-menu-toggle {
        position: absolute;
        top: -.25em;
        right: -.25em;
        padding: .5em;
    }
}

// electrical wiring
.x-ray .spork ul li {
	background: rgba(#000,.1);
	.node {
		opacity: .7;
	}
}
