<!DOCTYPE html>
<html ng-app="app" ng-controller="AppController">
    <head>
        <title>{{headline}}</title>
        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" media="screen" charset="utf-8" />
        <link rel="stylesheet" href="css/styles.css" media="screen" title="no title" charset="utf-8" />
    </head>
    <body class="">

        <div class="wrapper" ng-cloak>

            <header class="" ng-if="headline">

                <div class="mark">
                    <i class="fa fa-{{icon}}" ng-if="icon"></i>
                    {{headline}}
                </div>

            </header>

            <div class="workspace">

                <main class="main">
                    <div class="canvas" ng-class="{'x-ray': xRay}">
                        <div>
                            <spork config="config" model="model">
                                <div class="spork-menu" ng-class="{'active': showMenu}">
                                    <div class="flex-row">
                                        <b>{{node.id}}</b>
                                        <span class="fa fa-remove" ng-click="toggleMenu()"></span>
                                    </div>
                                    <div class="flex-row">
                                        <span ng-click="doAddNode(node)" class="fa fa-plus-square fa-lg"></span>
                                        <span ng-click="doRemoveNode(node)" class="fa fa-minus-square fa-lg"></span>
                                        <span ng-click="doEditNode(node)" class="fa fa-pencil-square fa-lg"></span>
                                    </div>
                                </div>
                                <script type="text/ng-template" id="sporklet.html">
                                    <div class="node-content">{{node.id}}</div>
                                </script>
                            </spork>
                        </div>

                        <div>
                            <b><br />Config<hr /></b>
                            <p><label><input type="checkbox" ng-model="xRay" /> X-Ray Goggles</label></p>
                            <pre>{{config | json}}</pre>
                            <pre>{{model | json}}</pre>
                        </div>
                    </div>

                    <div class="settings">
                        <b>directive<hr /></b>
                        <textarea class="basic">&lt;spork config="config" model="model"&gt;&lt;/spork&gt;</textarea>
                        <br />
                        <div class="flex-row">
                            <div class="flex-column flex-1">
                                <b>options<hr /></b>
                            </div>
                            <div class="flex-column flex-1">
                                <b>visual styles<hr /></b>
                            </div>
                        </div>

                        <b><br />things<hr /></b>
                        <div></div>

                        <b><br />more things<hr /></b>
                        <div></div>
                    </div>
                </main>

            </div>
        </div>

    </body>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/jquery.scrollTo/jquery.scrollTo.min.js"></script>
    <script src="bower_components/jamfu/jamfu.js"></script>

    <script src="js/app.js"></script>
    <script src="js/utils.min.js"></script>
    <script src="directive/directive.js"></script>
</html>
